In [9]:
import glob
import pandas as pd

# import images for creating dataset
ds_path = 'images'
images = glob.glob(ds_path + "/**/*.png", recursive=True)
len(images)

3278

In [25]:
labels = []
file_names = []

for image in images:
    labels.append(image.split('\\')[1])
    file_names.append(image.split('\\')[2])

In [27]:
pd.DataFrame({'file': file_names, 'label': labels})

                        file    label
0               amazon00.png   amazon
1               amazon01.png   amazon
2               amazon02.png   amazon
3               amazon10.png   amazon
4              amazon100.png   amazon
...                      ...      ...
3273  youtube_w_banner74.png  youtube
3274  youtube_w_banner75.png  youtube
3275  youtube_w_banner76.png  youtube
3276   youtube_w_banner8.png  youtube
3277   youtube_w_banner9.png  youtube

[3278 rows x 2 columns]